@import	'./vendor/rupture.styl'
@import './variables.styl'
@import './forms.styl'
@import './tabs.styl'
#app
	width: 100%
	max-width: 1100px
	margin: 30px auto
	font-variant-numeric: tabular-nums
	padding: 0 10px
	+above(376px)
		padding: 0 40px
	img
		max-width: 100%
		height: auto
		vertical-align: top
	b
	strong
		font-weight: 600
	.fsp-person-group
		margin: 50px 0
		h2
			font-weight: 600
			// text-transform: uppercase
			font-size: 18px
			line-height: 1.1em
			padding: 0
		.fsp-group__carrousel
			padding: 10px 0
			.fsp-carrousel__slider
				display: grid
				grid-template-columns: repeat(6, 1fr)
				+above(376px)
					grid-template-columns: repeat(11, 1fr)
					grid-gap: 4px
			.fsp-carrousel__item
				// width: calc((100% / 11) - 4px)
				// display: inline-block
				// margin-right: 3px
				// margin-bottom: 4px
				position: relative
				cursor: pointer
				outline: none
				background-color: $white
				opacity: .6
				img
					width: 100%
				&::before
				&::after
					content: ''
					position: absolute
					top: 0
					left: 0
					width: 100%
					height: 100%
					transition: all .3s
				&::before
					background-color: #fff
					mix-blend-mode: saturation
				&::after
					border: 5px solid #398ccb
					mix-blend-mode: hard-light
					opacity: 0
				&:hover
				&:focus
					&::after
						opacity: 1
				&.fsp-carrousel__item_read
					opacity: .2
				&.fsp-carrousel__item_selected
					opacity: 1
					&::before
						opacity: 0
					&::after
						opacity: 1
			.fsp-progress
				width: 100%
				padding:  0 10px
				.fsp-progress__label
					font-size: 14px
				.fsp-progress__bar
					position: relative
					height: 3px
					.fsp-progress__background
						position: absolute
						top: 0
						left: 0
						background-color: rgba($blue, .2)
						width: 100%
						height: 100%
					.fsp-progress__evolution
						position: absolute
						top: 0
						left: 0
						background-color: $blue
						width: 0%
						height: 100%
		.fsp-group__main
			position: relative
			margin-top: 35px
			.fsp-group__card
				display: flex
				justify-content: space-between
				outline: none
				figure
					width: 190px
					max-width: calc(40% - 10px)
					img
						width: 100%
				.fsp-item__article
					width: calc(100% - 230px)
					min-width: 60%
					flex-shrink: 0
					flex-grow: 0
					.fsp-item__header
						padding-bottom: 30px
						h3
							font-weight: 600
							// text-transform: uppercase
							line-height: 1em
						p
							font-size: 18px
							line-height: 1.2em
							padding: 0
							strong
								text-transform: uppercase
								font-size: .8em
								color: $blue
					.fsp-item__text
						font-family: $base-text-font-family
						font-weight: 300
						p
							font-size: 21px
							padding: .5em 0
							&:first-child
								padding-top: 0
							&:last-child
								padding-bottom: 0
				@import './share.styl'
			.fsp-group__navigation
				display: contents
				.fsp-navigation__button
					position: absolute
					height: 250px
					width: 40px
					top: 0
					background-color: $transparent
					border: 0
					outline: none
				.fsp-navigation__button_left
					left: -40px
				.fsp-navigation__button_right
					right: -40px
		@import './modal.styl'
// .a
// 	max-width: 940px
// 	width: 100vw
// 	margin: 0 auto
// 	overflow: hidden

// .f-forms__button_secondary
// 	text-transform: uppercase
// 	text-decoration: none
// 	font-size: 14px !important
// 	letter-spacing: 0
// 	font-weight: 500
// .persons
// 	max-width: 940px
// 	width: 100vw
// 	margin: 0 auto
// 	+below(940px)
// 		width 100%
// 	&__lead
// 		margin-top: 0
// 		font-family: $base-font-family
// 		text-transform: uppercase
// 		color: #333
// 		font-size: 14px
// 	h3
// 		font-family: $base-font-family
// 		text-transform: uppercase
// 		+below(620px)
// 			font-size: .9
// 			margin-bottom: 0
// 			font-size: 16px
// 	&__slide
// 		display: grid
// 		grid-template-columns: 30px auto 30px
// 		min-height: 100px
// 		margin-bottom: 150px
// 		margin-left: -30px
// 		// +below(620px)
// 		//     display none
// 		&-mobile
// 			display: none
// 			.close
// 				position: absolute
// 				top: 0
// 				right: 0
// 				height: 36px
// 				width: 36px
// 				font-weight: 200
// 				font-size: 35px
// 				line-height: 0
// 			.prev
// 				grid-area: prev
// 			.next
// 				grid-area: next
// 			.persons
// 				position: sticky
// 				top: 0
// 				background-color: #fff
// 				h3
// 					margin: 10px 38px
// 			.person__active
// 				opacity 1 !important
// 			.persons__group
// 				width: 100vw
// 				display flex
// 				overflow-x: scroll
// 				margin-bottom: 10px
// 			.person
// 				overflow: visible !important
// 				img
// 					+below(620px)
// 						width: 50px !important
// 						height: 64px !important
// 						margin: 0 2px !important
// 			&-show
// 				display: grid
// 				position: fixed
// 				top: 0
// 				left: 0
// 				height: 100vh
// 				margin: 0
// 				z-index 1000
// 				background-color: #fff
// 				overflow: auto
// 				grid-template-areas: "head head head" "prev main next"
// 				grid-template-columns: 30px auto 30px;
// 				.persons
// 					grid-area: head
// 		p
// 			margin: 0
// 			padding: 0
// 			font-family: $base-font-family
// 			color: #333
// 		button
// 			border: none
// 			background-color: #fff
// 			cursor: pointer
// 			height 200px
// 			outline: none
// 		.slide
// 			display grid
// 			grid-template-columns: 191px auto
// 			grid-gap: 40px
// 			+below(620px)
// 				grid-area: main
// 				grid-template-columns: auto
// 			&__button
// 				margin-top: 20px
// 			&__title
// 				text-transform: uppercase
// 				font-weight: 600
// 			&__time
// 				text-transform: uppercase
// 				font-weight: 800
// 				font-size: 1.1em
// 				color:#0078A4
// 				margin-bottom: 20px
// 			&__txt
// 				font-size: 30px
// 				font-family: $base-text-font-family
// 				font-weight: 300

// 			img
// 				width: 100%

// 	&__group
// 		display: grid
// 		grid-template-columns: repeat(11, 1fr)
// 		grid-auto-rows: 100px
// 		grid-gap: 3px
// 		margin-bottom: 50px
// 		+below(940px)
// 			grid-template-columns: repeat(10, 1fr)
// 			grid-gap: 2px
// 		+below(620px)
// 			grid-template-columns: repeat(6, 1fr)
// 			grid-gap: 2px
// 			grid-auto-rows: 60px
// 		.person
// 			margin: 0 !important
// 			overflow: hidden
// 			opacity .5
// 			cursor pointer
// 			&__active
// 				opacity: 1
// 				+below(620px)
// 					opacity .5
// 			&__visited
// 				outline: solid 5px #398CCB
// 				outline-offset: -5px
// 			&:hover
// 				opacity: 1
// 			img
// 				width: 100%
// 				height: 100%
// 				object-fit: cover
// 				object-position: center
