// This file overrides Folha's elements default CSS, like titles and headers.

// centering and coloring header
.f-kicker
	text-align: center
	color: #4CA5C5
	display: block

.f-article__header
	max-width: 100%;
	margin-bottom: 0

.f-headline
.f-time
	text-align: center
	color: #BDBDBD

.f-lead
	text-align: center
	color: #757575

.f-share__list
	text-align: center
