// This file overrides Folha's elements default CSS, like titles and headers.

// coloring header
.f-header
	background-color: #1f1f1f
	color: #fff
	.f-header__wrapper
	.f-masthead
	.f-toolbar_header
		border-color: #444444
	.f-brand__text
		fill: #fff
	.f-brand__stars
		&:nth-child(2)
			fill: #fff
	.f-nav__list
		.f-nav__item
			color: #fff
			a
				color: #fff


// centering and coloring title
.f-kicker
	text-align: center
	color: #4CA5C5
	display: block

.f-article__header
	max-width: 100%;
	margin-bottom: 0

.f-headline
.f-time
	text-align: center
	color: #BDBDBD

.f-lead
	text-align: center
	color: #757575

.f-share__list
	text-align: center

// coloring footer
.f-footer
	color: #757575
	.f-followus__icon
		border-color: #757575
		svg
			path
				fill: #757575
