.home
	.f-forms
		color: $primary

		&__label
			margin-bottom: 15px;

		&__select,
		&__text,
		&__textarea
			color: $white
			background-color: $black
			border-color: $color-gray-dark
			&::placeholder
				color: $gray-300

		&__select
			background: $black url('../images/arrow-up-down-black.svg') 95% center no-repeat
			background-size: 9px
			color: $gray-300
