.home
	.f-forms

		&__label
			margin-bottom: 15px;

		&__select,
		&__text,
		&__textarea
			color: $black
			background-color: $white
			border-color: $color-gray-dark
			&::placeholder
				color: $secondary

		&__select
			background: $white url('../images/arrow-up-down-black.svg') 95% center no-repeat
			background-size: 9px
			color: $secondary
