.home
	.notfound
	.people
		grid-area: center;

	.notfound
		color: $secondary
	.sorting
		display: flex
		align-items: flex-end
		margin-bottom: 30px
		margin-left: calc(40px + 13px) // column width + gap
		color: $primary
		font-family: $base-font-family

		.order-select
			cursor: pointer;
			background: none
			border: 0
			appearance: none
			color: $primary
			margin: 0 3px
			font-family: $base-font-family
		.order-icon
			// removing button look
			background: none
			appearance: none
			border: 0
			margin: 0 5px 0 0
			padding: 0
			width: 24px
			height: 24px
			cursor: pointer
			.order-svg
				&.descending
					transform: scaleY(-1)
