// COLORS
$black = #fff
$white = #333
$gray-100 = #757575
$gray-200 = #bdbdbd
$gray-300 = #e0e0e0
$gray-400 = #f5f5f5
$blue = #4CA5C5
$blue-light = #0078A4
$red = #E51717
$yellow = #F3BD00
$green = #93c9a8
$transparent = rgba(0, 0, 0, 0)

$color-neutral                 = $white
$color-negative                = $black

$color-gray-lighten            = #eee
$color-gray-light              = #f5f5f5
$color-gray                    = #e0e0e0
$color-gray-dark               = #757575
$color-gray-darken             = $black
$color-red                     = $red

$color-brand                   = $blue
$color-brand-negative          = $color-neutral
$color-brand-light             = $blue-light
$color-danger                  = $red
$color-danger-negative         = $white

$base-color-bg                 = $color-neutral
$base-color-border             = $color-gray-light
$base-color-highlight          = $color-brand
$base-color-highlight-negative = $color-brand-negative
$base-color-kicker             = $color-kicker
$base-color-link               = $color-brand
$base-color-text               = $color-negative
$base-color-text-secondary     = $color-gray
$base-color-title              = $color-brand
$base-color-title-secondary    = $color-gray-darken

//

$base-font-size            = 18px
$base-line-height          = 1.5
$base-font-size-mobile     = 18px
$base-line-height-mobile   = 1.5
$base-font-family          = 'FolhaGrafico', 'Folha Grafico', Helvetica, Arial, sans-serif
$base-text-font-family     = 'FolhaTexto', 'Folha Texto', Georgia, 'Times New Roman', serif
$base-headline-font-family = 'FolhaII', 'Folha II', Georgia, 'Times New Roman', serif
$base-space-unit           = $base-font-size * $base-line-height

$screen-sm                 = 320px
$screen-md                 = 680px
$screen-lg                 = 1024px
$screen-xl                 = 1320px

$screen-sm-max            ?= $screen-md - 1
$screen-md-max            ?= $screen-lg - 1

$border-width              = 1px
$border-radius             = 3px

// Container
$container-min            ?= $screen-sm - 60
$container-max            ?= 1320px

$z-index-drop-down         = 1000
$z-index-main-menu         = 8000
$z-index-full-screen       = 1999

$path-image                = '//f.i.uol.com.br/f5/furniture/2/images/'
$transition-all            = all 300ms ease-in-out

//tables
$table-cell-padding        = 0.75rem
$table-sm-cell-padding     = 0.3rem
$table-bg                  = transparent
$table-bg-inverse          = $gray-dark
$table-bg-accent           = rgba(0, 0, 0, 0.05)
$table-bg-hover            = rgba(0, 0, 0, 0.075)
$table-bg-active           = $table-bg-hover
$table-head-bg             = $gray-lighter
$table-head-color          = $gray
$table-border-width        = $border-width
$table-border-color        = $color-gray-lighten

// rupture.scale              = 0 $screen-sm $screen-md  $screen-lg  1320px
// rupture.scale-names        = 'xs' 's' 'm' 'l' 'xl'
